# Prerequisites
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*/
cmake-build-*
.idea/
.vscode/

*.1

/.vs
*.sh
*.onnx
/models/en_PP-OCRv3_det_infer.engine.NVIDIAGeForceRTX2080.fp16.1.1.1104
/models/en_PP-OCRv3_det_infer.engine.NVIDIAGeForceRTX2080.fp16.1.1_101
/models/en_PP-OCRv4_rec_infer.engine.NVIDIAGeForceRTX2080.fp16.1.1.1104
/models/en_PP-OCRv4_rec_infer.engine.NVIDIAGeForceRTX2080.fp16.1.1_101
